#!/usr/bin/make -f

KEYRING=fusiondirectory-archive-keyring.gpg

%:
	dh $@

$(KEYRING): fusiondirectory_public.key fusiondirectory_jenkins_public.key
	gpg --homedir $(CURDIR) --no-default-keyring --keyring $(CURDIR)/$@ --import $<

override_dh_auto_build: $(KEYRING)

override_dh_auto_clean:
	rm -f *.gpg *.gpg~
