Source: argonaut
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), coreutils (>= 5.97.5-3)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-common
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, coreutils (>= 6.10-1), ldap-utils, libio-socket-ssl-perl, libnet-ldap-perl, libpath-class-perl
Description: Argonaut common functions and librairies
 Common shell and perl functions used by the Argonaut deployment system.

Package: argonaut-fai-mirror
Architecture: all
Depends: ${misc:Depends}, argonaut-common (>= 1.0), libnet-ldap-perl, liblog-handler-perl, libconfig-inifiles-perl, debmirror, libwww-perl
Description: Scripts to create a local fai mirror
 Scripts to create a local mirror for FAI from LDAP

Package: argonaut-fai-nfsroot
Architecture: all
Depends: ${misc:Depends}, argonaut-common (>= 1.0), fai-client (>= 3.2.8), libnet-ldap-perl, console-utilities, debootstrap
Recommends: netcat
Description: Hooks to use make FAI integrated with Argonaut
 FAI hooks to Integrate Argonaut in an FAI nfs chroot

Package: argonaut-fai-server
Architecture: all
Depends: ${misc:Depends}, argonaut-common (>= 1.0), fai-client (>= 3.2.8), fai-server (>=3.2.8), libnet-ldap-perl
Description: Scripts to enable Argonaut integration with FAI
 Programs, script and nfsroot FAI hooks to Integrate
 Argonaut into FAI

Package: argonaut-fuse
Architecture: all
Depends: ${misc:Depends}, argonaut-common (>= 1.0), argonaut-fuse-fai, liblog-handler-perl, libconfig-inifiles-perl, ucf, libfuse-perl, libfile-pid-perl, libnet-ldap-perl, fuse-utils
Recommends: tftpd | atftpd | tftpd-hpa
Description: Modular TFTP/Fuse supplicant
 Argonaut-fuse is a modular fuse-tftp-supplicant written in perl which allows
 to create pxelinux configurations for different types of clients
 using external modules
 .
 There is already written modules for FAI (Fully automated install).

Package: argonaut-fuse-fai
Architecture: all
Depends: ${misc:Depends}, libnet-ldap-perl, argonaut-fuse
Description: LDAP FAI module for the TFTP/Fuse supplicant
 FAI module for argonaut-fuse which is using the LDAP backend in conjunction
 with FusionDirectory and Argonaut to generate client configurations.
 .

Package: argonaut-fuse-opsi
Architecture: all
Depends: ${misc:Depends}, libjson-perl (>= 2.07-1), libjson-rpc-perl, argonaut-fuse
Description: LDAP OPSI module for the TFTP/Fuse supplicant
 OPSI module for argonaut-fuse which is using the opsi json-rpc backend in conjunction
 with FusionDirectory and Argonaut to generate client configurations.
 .

Package: argonaut-fuse-ltsp
Architecture: all
Depends: ${misc:Depends}, libnet-ldap-perl, argonaut-fuse
Description: LDAP LTSP module for the TFTP/Fuse supplicant
 LTSP module for argonaut-fuse which is using the LDAP in conjunction
 with FusionDirectory and Argonaut to generate client configurations.
 .

Package: argonaut-ldap2zone
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, argonaut-common, libconfig-inifiles-perl, libnet-ldap-perl, libdns-zoneparse-perl (>= 1.10)
Conflicts: ldap2zone
Description: Argonaut tool to extract DNS zones from LDAP trees
 This is a tool that reads info for a zone from LDAP and constructs
 a standard plain ascii zone file. The LDAP information has to be
 stored using the dnszone schema.

Package: argonaut-quota
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, argonaut-common, libconfig-inifiles-perl, libnet-ldap-perl, libquota-perl, quota
Description: Argonaut tool to apply disk quota from ldap
 This is a tool that reads info for quota from LDAP and apply it
 to your quota server. The LDAP information has to be stored using
 the fdQuota schema.

Package: argonaut-server
Architecture: all
Depends: argonaut-common (>=1.0), libdatetime-perl, libnet-ldap-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl, libfile-pid-perl, libapp-daemon-perl, liblog-handler-perl, libconfig-inifiles-perl, libpoe-perl, libpoe-component-schedule-perl, libpoe-component-server-jsonrpc-perl, libpoe-component-server-simplehttp-perl, libpoe-component-pool-thread-perl
Description: argonaut json rpc server to manage deployment system
 .

Package: argonaut-server-module-fai
Architecture: all
Depends: argonaut-common (>=1.0)
Description: argonaut json rpc server module to manage fai
 .

Package: argonaut-server-module-opsi
Architecture: all
Depends: argonaut-common (>=1.0)
Description: argonaut json rpc server module to manage opsi
 .

Package: argonaut-client
Architecture: all
Depends: argonaut-common (>=1.0), libconfig-inifiles-perl, liblog-handler-perl, libfile-pid-perl, libapp-daemon-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl
Description: argonaut json rpc client to manage computers
 .

Package: argonaut-client-fai
Architecture: all
Depends: argonaut-common (>= 1.0), libconfig-inifiles-perl, liblog-handler-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl
Description: argonaut json rpc utilities to manage fai installations
 .
