Source: argonaut
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), coreutils (>= 5.97.5-3)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/gitweb/
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-common
Architecture: all
Depends: coreutils (>= 6.10-1), ldap-utils, libio-socket-ssl-perl, libnet-ldap-perl, libpath-class-perl
Description: Argonaut common functions and librairies
 Common perl libraries used by the Argonaut deployment system.

Package: argonaut-ldap2zone
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, libnet-ldap-perl, libdns-zoneparse-perl (>= 1.10)
Conflicts: ldap2zone
Description: Argonaut tool to extract DNS zones from LDAP trees
 This is a tool that reads info for a zone from LDAP and constructs
 a standard plain ascii zone file. The LDAP information has to be
 stored using the dnszone schema.
 .
 This package contains the argonaut-client module and the standalone command.

Package: argonaut-quota
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, libnet-ldap-perl, libquota-perl, quota
Description: Argonaut tool to apply disk quota from ldap
 This is a tool that reads info for quota from LDAP and apply it
 to your quota server. The LDAP information has to be stored using
 the fdQuota schema.

Package: argonaut-server
Architecture: all
Depends: argonaut-common, libdatetime-perl, libnet-ldap-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl, libfile-pid-perl, libapp-daemon-perl, liblog-handler-perl, libconfig-inifiles-perl, libpoe-perl, libpoe-component-schedule-perl, libpoe-component-server-jsonrpc-perl, libpoe-component-server-simplehttp-perl, libpoe-component-pool-thread-perl
Description: Argonaut json rpc server to manage deployment system
 Argonaut server to manage deployment systems.
 
Package: argonaut-client
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, liblog-handler-perl, libfile-pid-perl, libapp-daemon-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl
Description: Argonaut json rpc client to manage computers and services
 Argonaut client to manage computers and services.

