Source: argonaut
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), coreutils (>= 5.97.5-3)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-common
Architecture: all
Depends: coreutils (>= 6.10-1), ldap-utils, libio-socket-ssl-perl, libnet-ldap-perl, libpath-class-perl
Description: Argonaut common functions and librairies
 Common perl libraries used by the Argonaut deployment system.

Package: argonaut-common-fai
Architecture: all
Depends: coreutils (>= 6.10-1), argonaut-common, ldap-utils, libio-socket-ssl-perl, libnet-ldap-perl, libpath-class-perl
Description: Argonaut common library for FAI
 Library for FAI (Fully Automated install) used by the Argonaut deployment system.

Package: argonaut-ldap2zone
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, libnet-ldap-perl, libdns-zoneparse-perl (>= 1.10)
Conflicts: ldap2zone
Description: Argonaut tool to extract DNS zones from LDAP trees
 This is a tool that reads info for a zone from LDAP and constructs
 a standard plain ascii zone file. The LDAP information has to be
 stored using the dnszone schema.
 .
 This package contains the argonaut-client module and the standalone command.

Package: argonaut-quota
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, libnet-ldap-perl, libquota-perl, quota
Description: Argonaut tool to apply disk quota from ldap
 This is a tool that reads info for quota from LDAP and apply it
 to your quota server. The LDAP information has to be stored using
 the fdQuota schema.

Package: argonaut-dovecot
Architecture: all
Depends: argonaut-client
Description: Argonaut client-module for dovecot
 Argonaut client module to manage the creation of the directory for the user where is mailbox is created.
 
Package: argonaut-server
Architecture: all
Depends: argonaut-common, libdatetime-perl, libnet-ldap-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl, libfile-pid-perl, libapp-daemon-perl, liblog-handler-perl, libconfig-inifiles-perl, libpoe-perl, libpoe-component-schedule-perl, libpoe-component-server-jsonrpc-perl, libpoe-component-server-simplehttp-perl, libpoe-component-pool-thread-perl
Description: Argonaut json rpc server to manage deployment system
 Argonaut server to manage deployment systems.
 
Package: argonaut-server-module-fai
Architecture: all
Depends: argonaut-server
Description: Argonaut json rpc server module to manage FAI (Fully Automated Install)
 Argonaut server module to manage FAI (Fully Automated Install) installation. 
 
Package: argonaut-client
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, liblog-handler-perl, libfile-pid-perl, libapp-daemon-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl
Description: Argonaut json rpc client to manage computers and services
 Argonaut client to manage computers and services.

Package: argonaut-fuse
Architecture: all
Depends: argonaut-common, liblog-handler-perl, libconfig-inifiles-perl, ucf, libfuse-perl, libfile-pid-perl, libnet-ldap-perl, fuse-utils
Recommends: tftpd | atftpd | tftpd-hpa
Description: Modular TFTP/Fuse supplicant
 Argonaut-fuse is a modular fuse-tftp-supplicant written in perl which allows
 to create pxelinux configurations for different types of clients
 using external modules
 .
 There is already written modules for FAI

Package: argonaut-fuse-fai
Architecture: all
Depends: argonaut-fuse
Description: LDAP FAI module for the TFTP/Fuse supplicant
 FAI module for argonaut-fuse which is using the LDAP backend in conjunction
 with FusionDirectory and Argonaut to generate client configurations.
 .
 
Package: argonaut-fai-mirror
Architecture: all
Depends: argonaut-common, libnet-ldap-perl, liblog-handler-perl, libconfig-inifiles-perl, debmirror, libwww-perl
Description: Scripts to manage debian mirrors
 This package contains the tools to manage local mirror and external mirrors.

Package: argonaut-fai-nfsroot
Architecture: all
Depends: argonaut-common, argonaut-common-fai, fai-client (>= 3.2.8), libconfig-inifiles-perl, libnet-ldap-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl, liblog-handler-perl, console-utilities, debootstrap
Recommends: netcat
Description:  Tools, queues and status management
  Tools, queues and status management for FAI (Fully Automated Install) installations.

Package: argonaut-fai-server
Architecture: all
Depends: argonaut-common, fai-client (>= 3.2.8), fai-server (>=3.2.8), libnet-ldap-perl
Description: Scripts to enable Argonaut integration with FAI
 Programs, script and FAI nfsroot hooks to Integrate Argonaut into an FAI server nfsroot.
