Source: fusiondirectory-archive-keyring
Priority: extra
Section: utils
Maintainer: Maintainers FusionDirectory packages <contact@fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Build-Depends: debhelper (>> 7.0.50~), gnupg
Standards-Version: 3.9.2.0

Package: fusiondirectory-archive-keyring
Architecture: all
Depends: ${misc:Depends}
Description: GnuPG archive keys for the FusionDirectory team package repository
 The FusionDirectory team package repository contains release and development
 versions of FusionDirectory related packages. The repository is digitally 
 signed and the corresponding public key, required by APT, is available
 in this package.
Homepage: http://www.fusiondirectory.org/
